@page "/subscribers"
@using Microsoft.AspNetCore.Authorization
@using Presentation.BlazorApp.Models.Subscribers
@using Presentation.BlazorApp.Services

@inject HttpClient Http
@inject SubscriberService SubscriberService
@attribute [Authorize(Roles = "SuperAdmin, CIO, Admin")]
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))


<section class="subscribers">

    <div class="subscribe-header">
        <h3>Subscribers</h3>
@*         <NavLink class="nav-link" href="/new-subscriber">
            <button class="btn btn-primary" href="/new-course">Add subscriber</button>
        </NavLink> *@
    </div>


    @if (isError)
    {
        <p>Can not fetch subscribers right now.</p>
    }
    else if (isLoading)
    {
        <p>Loading...</p>
    }
    else if (subscribers?.Count == 0)
    {
        <p>No subscribers available.</p>
    }
    else
    {
        if (deleteSuccess)
        {
            <span class="notification"><p>Course has been deleted.</p></span>
        }
        if (deleteError)
        {
            <span class="notification"><p>Something went wrong. Could not delete course.</p></span>
        }

        <table class="table table-bordered">
            <thead>
                <tr class="course-header">
                    <th class="title">Email</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var subscriber in subscribers)
                {
                    <tr class="subscriber-info">
                        <th>@subscriber.Email</th>
                        <th class="buttons">

                            <a href="/edit-subscription/@subscriber.Id" class="btn btn-primary">Edit</a>

                            <button class="btn btn-danger" @onclick="() => DeleteAsync(subscriber.Email)">Remove</button>
                        </th>
                    </tr>
                }

            </tbody>

        </table>
    }
</section>

@code {
    private List<AllSubscribers>? subscribers = new();

    private bool isError;
    private bool deleteSuccess;
    private bool deleteError;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            subscribers = await SubscriberService.GetAllSubscribersAsync();
            isError = false;
            
        }
        catch (Exception)
        {
            isLoading = false;
            isError = true;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task DeleteAsync(string email)
    {
        try
        {
            var result = await SubscriberService.DeleteSubscriberAsync(email);

            if (result == true)
            {
                var removedSubscriber = subscribers!.FirstOrDefault(s => s.Email == email);
                subscribers!.Remove(removedSubscriber!);

                StateHasChanged();
                deleteSuccess = true;
            }
            else
                deleteError = true;
        }
        catch (Exception)
        {
            deleteError = true;
        }
    }
}
