@using Infrastructure.Data.Entities
@using Infrastructure.Helpers
@using Infrastructure.Services
@using Microsoft.AspNetCore.Authorization
@using Presentation.BlazorApp.Models.Authentication

@page "/signup";

@attribute [Authorize(Roles = "SuperAdmin")]
@attribute [StreamRendering]
@inject ILogger<SignUp> Logger
@inject UserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<section id="signup">
    <div class="container">

        @if (!string.IsNullOrEmpty(statusMessage))
        {
            <div class="status-message">
                <p class="@(isError ? "text-danger" : "text-success")">@statusMessage</p>
            </div>
        }
        @if (isLoading)
        {
            <p> Loading ....</p>
        }
        else
        {
            <EditForm Model="SignUpForm"  method="post" OnValidSubmit="SignUpAsync" FormName="register" novalidate>
                @* asp-route-returnUrl="@ReturnUrl" *@
            <DataAnnotationsValidator />

            <h1>Register Account</h1>

            <div class="content">
                <div id="form-firstname" class="input-group">
                    <label for="first-name">First name</label>
                    <InputText id="first-name" @bind-Value="SignUpForm.FirstName" class="form-control" placeholder="Enter first name" />
                    <ValidationMessage For="() => SignUpForm.FirstName" class="text-danger" />
                </div>
                <div id="form-lastname" class="input-group">
                    <label for="last-name">Last name</label>
                    <InputText id="last-name" @bind-Value="SignUpForm.LastName" class="form-control" placeholder="Enter last name" />
                    <ValidationMessage For="() => SignUpForm.LastName" class="text-danger" />
                </div>
                <div id="form-email" class="input-group">
                    <label for="email">Email</label>
                    <InputText id="email" @bind-Value="SignUpForm.Email" class="form-control" placeholder="Enter email" />
                    <ValidationMessage For="() => SignUpForm.Email" class="text-danger" />
                </div>
                <div id="form-password" class="input-group">
                    <label for="password">Password</label>
                    <InputText id="password" @bind-Value="SignUpForm.Password" class="form-control" placeholder="Enter password" type="password" />
                    <ValidationMessage For="() => SignUpForm.Password" class="text-danger" />
                </div>
                <div id="form-confirm" class="input-group">
                    <label for="confirm-password">Confirm password</label>
                    <InputText id="confirm-password" @bind-Value="SignUpForm.ConfirmPassword" class="form-control" placeholder="Enter password again" type="password" />
                    <ValidationMessage For="() => SignUpForm.ConfirmPassword" class="text-danger" />
                </div>
@*                 <div id="form-role" class="input-group">
                     <label for="role">Role</label>
                     <span>"SuperAdmin", "CIO", "Admin", "Manager"</span>
                     <InputText id="role" @bind-Value="SignUpForm.Role" class="form-control" placeholder="Enter role" />
                     <ValidationMessage For="() => SignUpForm.Role" class="text-danger" />
                </div> *@

                    <div id="form-role" class="input-group">
                        <label for="role">Role</label>
                        <InputSelect id="role" @bind-Value="SignUpForm.Role" class="form-control">
                            <option value="SuperAdmin">SuperAdmin</option>
                            <option value="CIO">CIO</option>
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                        </InputSelect>
                        <ValidationMessage For="() => SignUpForm.Role" class="text-danger" />
                    </div>

                <button disabled="@IsBusy" id="form-submit" type="submit" class="btn-theme">
                    @if (IsBusy)
                    {
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                    <span>Create Account</span>
                </button>
            </div>
            </EditForm>            
        }

 
    </div>
</section>

@code {

    private bool IsBusy;
    private string statusMessage = "";
    private bool isError;
    private bool isLoading;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private SignUpModel SignUpForm { get; set; } = new();

    public async Task SignUpAsync()
    {
        IsBusy = true;
        try
        {
            var user = new ApplicationUser { UserName = SignUpForm.Email, Email = SignUpForm.Email, FirstName = SignUpForm.FirstName, LastName = SignUpForm.LastName, Password = SignUpForm.Password, Created = DateTime.Now };

            var createdResult = await UserService.CreateUserAsync(user, SignUpForm.Password, SignUpForm.Role);
            if (createdResult.StatusCode == ResultStatus.OK)
            {
                user.EmailConfirmed = true;
                var updateResult = await UserService.UpdateUserAsync(user);
                statusMessage = "User was created successfully.";
                // NavigationManager.NavigateTo(ReturnUrl ?? "/");
            }
            else if (createdResult.StatusCode == ResultStatus.EXISTS)
            {
                statusMessage = "The user already exists.";
            }
            else
            {
                statusMessage = "Unable to create user. Please try again later.";
            }
        }
        catch (Exception ex)
        {
            Logger.LogError($"ERROR: Register.SignUpAsync() :: {ex.Message}");
            statusMessage = "Unable to create user. Please try again later.";
        }
        finally
        {
            IsBusy = false;
        }
    }


}
