@page "/edit-customers"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "SuperAdmin, CIO, Admin")]

<h3>EditCustomers</h3>

<5>This page is under construction</5>

@code {

}
