@inherits LayoutComponentBase
@layout Presentation.BlazorApp.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ManageNavMenu />
            </div>
            <div class="col-md-9">
                @Body
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
